.idea
target/classes/
target/dependency-maven-plugin-markers
target/javadoc-bundle-options
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes
atlassian-ide-plugin.xml
dependency-reduced-pom.xml
logs
*.iml
*.ipr
.env_dev
.env
hs_err*
.DS_Store


#Eclipse-specific
.settings/
.classpath
.project
nb-configuration.xml

#NGINX files
nginx-repo.key
nginx-repo.crt
*.pem
*.log

