.idea
app/target/classes/
app/target/dependency-maven-plugin-markers
app/target/javadoc-bundle-options
app/target/generated-sources
app/target/generated-test-sources
app/target/maven-archiver
app/target/maven-status
app/target/surefire-reports
app/target/test-classes
atlassian-ide-plugin.xml
dependency-reduced-pom.xml
logs
*.iml
*.ipr
.env_dev
.env
hs_err*
.DS_Store
vault_env.sh


#Eclipse-specific
.settings/
.classpath
.project
nb-configuration.xml

#NGINX files
nginx-repo.key
nginx-repo.crt
*.pem
*.log

