.idea
#target/
atlassian-ide-plugin.xml
dependency-reduced-pom.xml
logs
*.iml
*.ipr
.env_dev
.env
hs_err*
.DS_Store


#Eclipse-specific
.settings/
.classpath
.project
nb-configuration.xml

#NGINX files
nginx-repo.key
nginx-repo.crt
*.pem
*.log


nginx-plus_1.11.8-0-trusty_amd64.deb
